@tailwind base;

@tailwind components;

@tailwind utilities;

.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="true"] {
  white-space: pre-wrap;
}

html {
  scroll-behavior: smooth;
}

.ProseMirror > .posit-block:before {
    position: absolute;
    content: '';
    background: #e2e8f0;
    left: 50%;
    right: 50%;
    height: 70vh;
    width: 3px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.vjs-icon-av-perm::before {
    content: '' !important;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
}

.vjs-icon-av-perm::before{
  background-image: url('/img/video-record-icon.svg');
}
