@tailwind base;

@tailwind components;

@tailwind utilities;

.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="true"] {
  white-space: pre-wrap;
}

html {
  scroll-behavior: smooth;
}

.ProseMirror > .posit-block:before {
    position: absolute;
    content: '';
    background: #e2e8f0;
    left: 50%;
    right: 50%;
    height: 70vh;
    width: 3px;
    top: 0;
    bottom: 0;
    z-index: -1;
}
